@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 초기화 */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #777;
}

body * {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans KR', sans-serif;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

